/* INDEX CSS */
body {
	font-family: Century Gothic, sans-serif;
	font-size: 1em;
	text-align: center;
	margin: 0;
}

/* MULTI-GRADIENT BACKGROUND */
#background_1 {
	margin: 0;
	background: linear-gradient(75deg, black, black, black, white, black, black, black);
}

#background_2 {
	margin: 0;
	background: linear-gradient(-75deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1), rgba(0,0,0,0.1), white, rgba(0,0,0,0.1), rgba(0,0,0,0.1), rgba(0,0,0,0.1));
}

#background_3 {
	position: relative;
	perspective: 400px;
	padding-top: 25px;
	margin: 0;
	background: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1), rgba(0,0,0,0.1), white, rgba(0,0,0,0.1), rgba(0,0,0,0.1), rgba(0,0,0,0.1));
}

/* TURNS TEXT WHITE AND LIGHTENS THE WEIGHT */
.white {
	color: white;
	font-weight: 100;
}

/* RED FLOWER STYLING AND OPENING ANIMATIONS */
#flowerBox {
	position: relative;
	width: 100px;
	height: 100px;
	margin: auto;
	border-radius: 50%;
	-webkit-animation: petalGlow 5s ease .5s forwards; 
	animation: petalGlow 5s ease .5s forwards; 
}

@-webkit-keyframes petalGlow {
	0% {background: transparent; box-shadow: none; transform: rotateZ(0deg);}
	80% {background: transparent; box-shadow: none;}
	90% {background: rgba(255,0,0,0.3); box-shadow: 1px 1px 2px white, 1px -1px 2px white, -1px 1px 2px white, -1px -1px 2px white;}
	100% {background: rgba(255,0,0,0.3); box-shadow: 1px 1px 2px white, 1px -1px 2px white, -1px 1px 2px white, -1px -1px 2px white; transform: rotateZ(360deg);}
}
@keyframes petalGlow {
	0% {background: transparent; box-shadow: none; transform: rotateZ(0deg);}
	80% {background: transparent; box-shadow: none;}
	90% {background: rgba(255,0,0,0.3); box-shadow: 1px 1px 2px white, 1px -1px 2px white, -1px 1px 2px white, -1px -1px 2px white;}
	100% {background: rgba(255,0,0,0.3); box-shadow: 1px 1px 2px white, 1px -1px 2px white, -1px 1px 2px white, -1px -1px 2px white; transform: rotateZ(360deg);}
}

.petal {
	position: absolute;
	left: 50%;
	margin-left: -50px;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 50px;
	border-radius: 35%;
}

#petal_1  {
	border-color: rgba(255,0,0,0.5) transparent transparent transparent;
}

#petal_2  {
	border-color: rgba(240,0,0,0.5) transparent transparent transparent;
	-webkit-animation: petal_2 .5s ease .5s forwards; 
	animation: petal_2 .5s ease .5s forwards; 
}

@-webkit-keyframes petal_2 {
	from {transform: rotate(0deg);}
	to {transform: rotate(45deg);}
}
@keyframes petal_2 {
	from {transform: rotate(0deg);}
	to {transform: rotate(45deg);}
}

#petal_3  {
	border-color: rgba(225,0,0,0.5) transparent transparent transparent;
	-webkit-animation: petal_3 1s ease .5s forwards;
	animation: petal_3 1s ease .5s forwards;
}

@-webkit-keyframes petal_3 {
	from {transform: rotate(0deg);}
	to {transform: rotate(90deg);}
}
@keyframes petal_3 {
	from {transform: rotate(0deg);}
	to {transform: rotate(90deg);}
}

#petal_4 {
	border-color: rgba(210,0,0,0.5) transparent transparent transparent;
	-webkit-animation: petal_4 1.5s ease .5s forwards;
	animation: petal_4 1.5s ease .5s forwards;
}

@-webkit-keyframes petal_4 {
	from {transform: rotate(0deg);}
	to {transform: rotate(135deg);}
}
@keyframes petal_4 {
	from {transform: rotate(0deg);}
	to {transform: rotate(135deg);}
}

#petal_5  {
	border-color: rgba(195,0,0,0.5) transparent transparent transparent;
	-webkit-animation: petal_5 2s ease .5s forwards;
	animation: petal_5 2s ease .5s forwards;
}

@-webkit-keyframes petal_5 {
	from {transform: rotate(0deg);}
	to {transform: rotate(180deg);}
}
@keyframes petal_5 {
	from {transform: rotate(0deg);}
	to {transform: rotate(180deg);}
}

#petal_6  {
	border-color: rgba(180,0,0,0.5) transparent transparent transparent;
	-webkit-animation: petal_6 2.5s ease .5s forwards;
	animation: petal_6 2.5s ease .5s forwards;
}

@-webkit-keyframes petal_6 {
	from {transform: rotate(0deg);}
	to {transform: rotate(225deg);}
}
@keyframes petal_6 {
	from {transform: rotate(0deg);}
	to {transform: rotate(225deg);}
}

#petal_7  {
	border-color: rgba(165,0,0,0.5) transparent transparent transparent;
	-webkit-animation: petal_7 3s ease .5s forwards;
	animation: petal_7 3s ease .5s forwards;
}

@-webkit-keyframes petal_7 {
	from {transform: rotate(0deg);}
	to {transform: rotate(270deg);}
}
@keyframes petal_7 {
	from {transform: rotate(0deg);}
	to {transform: rotate(270deg);}
}

#petal_8  {
	border-color: rgba(150,0,0,0.5) transparent transparent transparent;
	-webkit-animation: petal_8 3.5s ease .5s forwards;
	animation: petal_8 3.5s ease .5s forwards;
}

@-webkit-keyframes petal_8 {
	from {transform: rotate(0deg);}
	to {transform: rotate(315deg);}
}
@keyframes petal_8 {
	from {transform: rotate(0deg);}
	to {transform: rotate(315deg);}
}

#flowerBulb {
	position: absolute;
	top: 35px;
	left: 50%;
	width: 25px;
	height: 25px;
	margin-left: -12.5px;
	background: white;
	border-radius: 50%;
}

#flowerBulb p {
	font-size: 30px;
	width: 25px;
	height: 25px;
	margin: 0;
	margin-top: -10px;
}

/* MISSION STATEMENT */
#missionStatementDiv {
	width: 100%;
	max-width: 650px;
	margin: 50px auto;
	padding-top: 0px;
	padding-bottom: 15px;
	background: linear-gradient(to top, white, rgba(255,255,255,0.5));
	border-top: 2px solid white;
	border-bottom: 1px solid black;
	z-index: 9999;
}

#title_3 {
	margin-top: 0;
	padding-top: 5px;
	padding-bottom: 7.5px;
	background: black;
	border-bottom: 2px solid white;
}

.explanation {
	text-align: center;
	font-size: 1em;
	letter-spacing: 1px;
	line-height: 1.5em;
	margin: 25px 10px 25px 15px;
}

/* QUOTE AND REMINDER */
#quoteReminderDiv {
	margin-bottom: 50px;
}

#outerQuoteDiv,
#outerReminderDiv  {
	width: 100%;
	max-width: 650px;
	margin: 50px auto;
	line-height: 22.5px;
	overflow: auto;
	background: linear-gradient(to top, white, rgba(255,255,255,0.5));
	border-top: 2px solid white;
	border-bottom: 1px solid black;
	z-index: 9999;
}

#outerQuoteDiv {
	height: 250px;
	z-index: 99999;
}

#outerReminderDiv {
	height: 275px;
}

#title_0,
#title_00 {
	margin-top: 0;
	padding-top: 5px;
	padding-bottom: 12.5px;
	background: black;
	border-bottom: 2px solid white;
}

.quote {
	font-style: italic;
	max-width: 650px;
	margin: 10px 5px auto;
}

.quoted {
	font-weight: bold;
}

#haveYouDiv p {
	margin: 5px;
}

button {
	color: black;
	font-weight: bold;
	width: 50px;
	margin: 15px 25px 25px;
	padding: 5px 7.5px;
	background: rgba(0,0,0,0.3);
	border: none;
	border-radius: 5px;
	box-shadow: 2px 2px 3px black inset, -2px -2px 3px black inset;
}

button:disabled {
	background: rgba(0,0,0,0.7);
}

/* INVITATION, LOGO AND LINK */
#outerEnterDiv {
	position: relative;
	margin-top: -16px;
	margin-bottom: -16px;
	padding-top: 15px;
}

#invite {
	position: absolute;
	left: 50%;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-style: oblique;
	font-size: 20px;
	width: 275px;
	height: 30px;
	margin: auto;
	margin-left: -137.5px;
	padding-top: 7.5px;
	padding-bottom: 7.5px;
	line-height: 22.5px;
	overflow: hidden;
	background: linear-gradient(to top, white, rgba(255,255,255,0.7));
	border-top: 2px solid white;
	border-bottom: 1px solid black;
	z-index: 999;
}

#inviteSpan_1 {
	font-size: 30px;
	font-style: normal;
	padding-top: 5px;
	padding-bottom: 10px;
	margin-bottom: 25px;
	text-shadow: 3px 3px 2px lightgrey;
}

#invite:active, #invite:focus, #invite:hover {
	height: auto;
}

#enterDiv {
	position: relative;
	width: 200px;
	height: 165px;
	margin: 75px auto 15px;
	background: white;
	border: 3px solid black;
	border-radius: 50% 50% 0 0;
	perspective: 600px;
}

#enterDiv p {
	margin: 0;
}
	
#mainLogo {
	width: 175px;
	margin: 10px auto 0px;
	border-radius: 35px 35px 0 0;
	transform: rotateX(-5deg);
}


/* ANIMATED AREA -- ANIMATION DEFINED IN EXTERNAL JAVASCRIPT */
.door {
	position: absolute;
	top: 5px;
	width: 100px;
	height: 165px;
	background: white;
	border: 3px solid black;
}

.dr_L {
	left: -75px;
	border-radius: 85px 0 0 0;
	transform: rotateY(-100deg);
}

.dr_R {
	right: -75px;
	border-radius: 0 85px 0 0;
	transform: rotateY(100deg);
}


/* LINK */
a {
	color: dodgerblue;
	font-size: 25px;
	text-decoration: none;
	outline: 0;
	transition-duration: .25s;
}

a:hover, a:focus, a:active {
	color: white;
	text-shadow: 2px 2px 2px blue, -2px 2px 2px blue, -2px -2px 4px deepskyblue, 2px -2px 4px deepskyblue !important;
	transition-duration: .5s;
}

/* FOOTER STUFF */
#screenSizeRecomendation {
	font-size: 12.5px;
	margin: 15px auto;
}

#screenSizeRecomendation span {
	font-size: 15px;
	color: blue;
}

#screenSizeRecomendation,
#footer {
	color: white;
}

#footer {
	margin-top: 15px;
}

#footer span {
	color: blue;
}



/* MEDIA QUERRIES */

@media screen and (min-width: 575px){
	#background_1 {
		background: linear-gradient(65deg, black, black, black, white, black, black, black);
	}

	#background_2 {
		background: linear-gradient(-65deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1), rgba(0,0,0,0.1), white, rgba(0,0,0,0.1), rgba(0,0,0,0.1), rgba(0,0,0,0.1));
	}
	
	#outerQuoteDiv {
		height: 225px;
	}

	#outerReminderDiv {
		height: 250px;
	}
	
	#invite {
		width: 350px;
		margin-left: -175px;
	}
	
	#invite:active, #invite:focus, #invite:hover {
		padding-top: 20px;
		padding-bottom: 32px;
	}
}

@media screen and (min-width: 1100px){
	#background_1 {
		background: linear-gradient(55deg, black, black, black, white, black, black, black);
	}

	#background_2 {
		background: linear-gradient(-55deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1), rgba(0,0,0,0.1), white, rgba(0,0,0,0.1), rgba(0,0,0,0.1), rgba(0,0,0,0.1));
	}
	
	#title_0,
	#title_00 {
		box-shadow: 0px 5px 2px rgba(0,0,0,0.5);
	}
	
	#title_1,
	#title_2 {
		font-size: 1.75em;
	}
	
	#missionStatementDiv {
		margin-top: 125px;
		box-shadow: 0px -5px 5px black inset;
	}
	
	#title_3 {
		box-shadow: 0px 5px 2px rgba(0,0,0,0.5);
	}
	
	.explanation {
		text-align: justify;
		text-indent: 0;
		font-size: 1em;
		letter-spacing: 1px;
		line-height: 1.5em;
		margin: 25px 20px;
	}
	
	#outerQuoteDiv,
	#outerReminderDiv {
		position: absolute;
		top: -50px;
		width: 33%;
		height: 300px;
		border-top: none;
		border-bottom: none;
	}
	
	#outerQuoteDiv {
		left: 0;
	}
	
	#outerReminderDiv {
		right: 0;
	}
	
	#reminderSide,
	#quoteSide {
		position: absolute;
		top: 5px;
		width: 15px;
		height: 300px;
		background: linear-gradient(to top, white, rgba(255,255,255,0.5)); 
	}
	
	#quoteSide {
		left: 33%;
		transform: rotateY(50deg);
	}
	
	#reminderSide {
		right: 33%;
		transform: rotateY(-50deg);
	}
	
	#reminderSideBlack,
	#quoteSideBlack {
		width: 100%;
		height: 42px;
		margin: 0;
		background: black;
		border-bottom: 2px solid white;
		box-shadow: 0px 5px 2px rgba(0,0,0,0.5);
	}
	
	#quoteBottom,
	#reminderBottom {
		position: absolute;
		top: 300px;
		width: 33%;
		height: 10px;
		background: linear-gradient(to bottom, white, rgba(255,255,255,0.5));
	}
	
	#quoteBottom {
		left: 7px;
		transform: skewX(60deg);
	}
	
	#reminderBottom {
		right: 7px;
		transform: skewX(-60deg);
	}
	
	#shadow {
		position: absolute;
		top: 744px;
		left: 50%;
		margin-left: -350px;
		width: 700px;
		height: 100px;
		background: linear-gradient(to top, black, rgba(0,0,0,0.1));
		transform: rotateX(-35deg);
		z-index: -1;
	}
	
	#screenSizeRecomendation {
		display: none;
	}
}

@media screen and (min-width: 1300px){
	#background_1 {
		background: linear-gradient(45deg, black, black, black, white, black, black, black);
	}

	#background_2 {
		background: linear-gradient(-45deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3), rgba(0,0,0,0.3), white, rgba(0,0,0,0.3), rgba(0,0,0,0.3), rgba(0,0,0,0.3));
	}
}