/* LAYERED GRADIENT CSS */

body {
	font-family: Century Gothic, sans-serif;
	text-align: center;
	margin: 0;
}

#wrapper {
	position: relative;
	width: 100%;
	margin: 0;
	padding-top: 15px;
	padding-bottom: 25px;
}

a {
	color: dodgerblue;
	text-decoration: none;
	transition-duration: .25s;
	outline: 0;
}

a:hover, a:focus, a:active {
	color: white;
	text-shadow: 1px 1px 2px blue, -1px 1px 2px blue, -1px -1px 4px deepskyblue, 1px -1px 4px deepskyblue;
	transition-duration: .5s;
}


h1 {
	font-weight: 100;
	font-size: 21px;
	width: 90%;
	margin: 15px auto;
	padding: 5px 7.5px 10px;
	background: rgba(255,255,255,0.9);
	box-shadow: 0 2px 2px white inset, 0 -2px 2px white inset;
}

#firstDimensionDiv,
#secondDimensionDiv,
#thirdDimensionDiv,
#fourthDimensionDiv  {
	width: 90%;
	margin: auto;
	padding-top: 25px;
	padding-bottom: 75px;
	border-top: 1px solid rgba(255,255,255,0.5);
	border-bottom: 2px solid rgba(0,0,0,0.5);
	box-shadow: 0px 15px 5px rgba(0,0,0,0.5);
}

#fourthDimensionDiv {
	height: 250px;
}

/* NAV */
#borderDiv1 {
	height: 5px;
	margin-top: 2px;
	margin-bottom: 2px;
	background: black;
}

#borderDiv2 {
	content: "";
	height: 50px;
	background: black;
}

#littleLogo {
	width: 50px;
	height: 40px;
	margin: 5px auto;
}

#navoverdiv {
	border-top: 5px solid black;
	margin: 2px auto 0px;	
}

#goback {
	display: block;
	color: dodgerblue;
	max-width: 150px;
	font-size: 1.25em;
	margin: 15px auto 5px;
	padding: 2.5px 5px 5px; 
	background: black;
	border-radius: 5px;
	box-shadow: .5px .5px 1px black inset, -.5px -.5px 1px black inset, .5px .5px 1px black, -.5px .5px 1px black, .5px -.5px 1px black, -.5px -.5px 1px black, 2px 10px 5px rgba(0, 0, 0, 0.7), -2px 10px 5px rgba(0, 0, 0, 0.7);
}

#nav4{
	height: auto;
	width: 90%;
	max-width: 500px;
	margin: 25px auto 50px;
	padding-bottom: 7.5px;
	background: black;
	box-shadow: 1px 5px 5px rgba(0,0,0,0.6), -1px 10px 5px rgba(0,0,0,0.6);
	border-radius: 5px;
}

#nav4 a {
	font-size: 1.25em;
	color: white;
	margin: 10px;
	transition-duration: .5s;
}

#social-icons {
	margin: auto;
	padding-bottom: 25px;
	border-bottom: 5px solid black;
}

#linkedin,
#github,
#treehouse,
#codepen,
#behance {
	display: inline-block;
	width: 65px;
	height: 65px;
	font-size: .7em;
	background-position: bottom right;
	background-size: 80% 80%;
	background-repeat: no-repeat;
}

/* FOOTER */
footer {
	color: white;
	font-size: .75em;
	line-height: 17.5px;
	margin: 2px auto -10px;
	padding-top: 10px;
	padding-right: 2.5%;
	padding-bottom: 5px;
	padding-left: 2.5%;
	background: black;
}

#cc {
	display: block;
	margin: auto auto 5px;
	border: 1px solid white;
	border-radius: 5px;
}

hr {
	color: white;
	width: 95%;
	height: 2.5px;
	margin: 5px auto;
	padding: 0;
	border-bottom: 1px solid #888;
	border-radius: 50%;
}

/* SELECTED */
#selected2 {
	color: dodgerblue !important;
	font-size: 1.5em  !important;
}

/* MEDIA QUERIES -- SMALL SCREENS */
@media screen and (min-width: 500px) {
	#linkedin,
	#github,
	#treehouse,
	#codepen,
	#behance  {
		font-size: .9em;
		width: 100px;
		height: 100px;
	}
}

@media screen and (min-width: 750px) {
	h1 {
		font-size: 30px;
	}

	#secondDimensionDiv {
		width: 85%;
	}
	
	#thirdDimensionDiv {
		width: 75%;
	}
	
	#fourthDimensionDiv {
		width: 65%;
	}
}